{# Ref: 
- https://themes.semicolonweb.com/html/canvas/about.html
- Carousel in bottom of page: https://themes.semicolonweb.com/html/canvas/about-me.html 
#}

{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
    {{ encore_entry_link_tags('about') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    {{ encore_entry_script_tags('about') }}
{% endblock %}

{% block title %}About{% endblock %}
{% set breadcrumb = [
    {label: 'Home', url: '/'},
    {label: 'About', active: true}
] %}
		
{% block hero %}

    {% include "_sections/page-title/default.html.twig" with { 
        title: 'About',
        subtitle: null
    } %}

{% endblock %}

{% block main %}

    <section id="content">
        <div class="content-wrap">

            {# portrait #}
            <div class="section bg-transparent py-0">
                <div class="container clearfix">
                    <div class="row">
                        <div class="col-lg-3 col-md-5 col-padding{# order-md-last #}">
                            {% include "_elements/flexslider-small.html.twig" with {
                                slides: [
                                    {img: asset('build/images/home/edouard.jpg')},
                                    {img: asset('build/images/home/edouard-nb.jpg')}
                                ]
                            } %}
                        </div>

                        <div class="col-lg-9 col-md-7 col-padding">
                            <div class="heading-block">

                                <small class="text-muted text-uppercase fw-light ls4 mb-1 d-block">Full-Stack Developer</small>

                                <h3 class="mb-1">Edouard Proust</h3>

                                {% include "_elements/social-icons.html.twig" with { 
                                    type: 'default',
                                    socials: [
                                        {icon: 'icon-linkedin', link: config('SOCIAL_LINKEDIN'), color: null},
                                        {icon: 'icon-github', link: config('SOCIAL_GITHUB'), color: null},
                                        {icon: 'icon-stackoverflow', link: config('SOCIAL_STACKOVERFLOW'), color: null}
                                    ] 
                                } %}
                                <div class="mb-4">
                                    {% if config('ABOUT_CV') is not null %}
                                        {% include "_elements/button.html.twig" with {
                                            url: uploadUrl('UPLOADS_ADMIN_OPTIONS', config('ABOUT_CV')),
                                            label: "View my CV",
                                            icon: "icon-line-file",
                                            margin: "me-3",
                                            target: '_blank'
                                        } %}
                                    {% endif %}
                                    {% include "_elements/button.html.twig" with {
                                        url: path('contact'),
                                        label: "Contact me",
                                        icon: 'icon-line2-envelope'
                                    } %}
                                </div>
                                
                                <p><b>I am a self-learner.</b> In sales, in just a year and starting from zero, i ran stores that made thousands of euros per month and helped clients to improve their own brands. As for sales, i learned programming all by myself, full time, during 18 months. My actual goal is to get always better at what i do. This is why I will always continue to learn, to add to my skills and to dedicate myself to more and more challenging projects.</p>
                                <p><b>I code by passion.</b> My first website was made when i was 12 (it was on a video game and became one of the most visited website on it). My first profitable website was made when i was 14 and back then I was coding on the college calculator in BASIC language... When I look at a piece of well thought out and organized code, I feel a real inner pleasure.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# skills columns #}
            <div class="section bg-transparent">
                <div class="container clearfix">

                    {% include "_elements/section-title.html.twig" with {
                        section: null,
                        title: 'My <span>tech stack</span> & <span>skills</sapn>',
                        offsetLeft: false,
                        content: "Below are the languages, frameworks, platforms and tools, but also the soft skills that I use to develop my applications."
                    } %}
                
                    {% set skillColumns = [ {
                            title: 'Languages & Frameworks',
                            desc: null,
                            skills: [
                                ['PHP', 100],
                                ['Javascript', 80],
                                ['Python', 60],
                                ['Symfony', 90],
                                ['Flask', 60],
                                ['HTML', 100],
                                ['CSS', 100],
                                ['Sass', 70],
                                ['SQL', 70],
                            ] 
                        },{
                            title: 'Tools & Libraries',
                            desc: null,
                            skills: [
                                ['Git, GitHub, GitLab', 70],
                                ['Docker', 50],
                                ['Webpack Encore', 50],
                                ['PHPUnits', 40],
                                ['EasyAdmin Bundle', 100],
                                ['CKEditor + CKFinder', 80],
                                ['GSAP', 80],
                                ['jQuery', 70]
                            ]
                        },{
                            title: 'No-code',
                            desc: null,
                            skills: [
                                ['Wordpress + Woo + Elementor', 100],
                                ['Shopify', 100],
                                ['Webflow', 80]
                            ]
                        },{
                            title: 'Skills',
                            desc: null,
                            skills: [
                                ['UX & UI Design', 80],
                                ['Adobe CS Suite (graphism)', 80],
                                ['Marketing & Sales', 60],
                                ['Team working', 60],
                            ]
                    } ] %}

                    <div class="skills-container row col-mb-50">
                        {% for index, column in skillColumns %}
                            <div class="col-lg-3 col-md-6 col-sm-12 mt-3">
                                <div class="card shadow-lg d-flex align-items-end flex-column p-3">
                                    <div class="card-number">{{ index + 1 }}</div>
                                    <div class="card-body">
                                        {% if column.title is defined and column.title is not null %}<h4 class="card-title fw-normal">{{ column.title|raw }}</h4>{% endif %}
                                        {% if column.desc is defined and column.desc is not null %}<p class="card-desc">{{ column.desc|raw }}</p>{% endif %}
                                        {% include "_elements/skill-counters.html.twig" with { skills: column } %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>

            {# some projects #}
            <div class="section">
				<div class="container">
					{% include "_elements/section-title.html.twig" with {
						section: null,
						title: 'Some of my <span>projects</span>',
						offsetLeft: false,
						content: "Awesome Works that I've contibuted to. Proudly!"
					} %}
                    {% include "_elements/projects-carousel.html.twig" with {projects: projects} %}
                </div>
            </div>

            {# Counters #}
            <div class="section bg-transparent footer-stick">
                <div class="container clearfix">

                    {% include "_sections/counters.html.twig" with { counters: [
                        {
                            icon: 'icon-line2-clock',
                            title: 'hours of coding',
                            to: stats.daysOfCoding * (5 / 7) * 5,
                            after: '+',
                            interval: 25,
                            speed: 2000
                        },{
                            icon: 'icon-code1',
                            title: 'Mastered languages',
							content: 'Including ' ~ stats.languages.list ~ '.',
                            to: stats.languages.count,
                            interval: 100,
                            speed: 2500,
                            delay: 200
                        },{
                            icon: 'icon-line2-layers',
                            title: 'Frameworks and bundles',
							content: stats.technologies.list,
                            to: stats.technologies.count,
                            interval: 25,
                            speed: 3500,
                            delay: 400
                        },{
                            icon: 'icon-line2-graph',
                            title: 'Projects on Github',
                            to: stats.githubRepositories|length,
                            interval: 30,
                            speed: 2700,
                            delay: 600
                        },
                    ] } %}

                </div>
            </div>

        </div>
    </section>

{% endblock %}
