
/*-----------------------------------------------------------------------------------
	typography.scss
-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Basic
-----------------------------------------------------------------*/

dl, dt, dd, ol, ul, li {
	margin: 0;
	padding: 0;
	margin-bottom: 2px;
}

ul, ol {
	margin-top: 0px;
	margin-left: 20px;
}

em { 
	font-family: $secondary-font; 
}

.clear {
	clear: both;
	display: block;
	font-size: 0px;
	height: 0px;
	line-height: 0;
	width: 100%;
	overflow:hidden;
}

@mixin selection {
	background: $theme-color;
	color: $body-bg;
	text-shadow: none;
}

::selection {
	@include selection;
}

::-moz-selection {
	@include selection;
}

::-webkit-selection {
	@include selection;
}

:active,
:focus { outline: none !important; }


/* ----------------------------------------------------------------
	Typography
-----------------------------------------------------------------*/


body {
	line-height: $line-height-base;
	color: $body-text-color;
	font-family: $body-font;
}

a {
	text-decoration: none !important;
	color: $theme-color;
	&:hover { color: #222; }
	img { border: none; }
}

img { max-width: 100%; }

iframe {
	width: 100%;
	border: 0 !important;
	overflow: hidden !important;
}


/* ----------------------------------------------------------------
	Basic Layout Styles
-----------------------------------------------------------------*/


h1,
h2,
h3,
h4,
h5,
h6 {
	color: $heading-color;
	font-weight: 600;
	line-height: $line-height-base;
	margin: 0 0 30px 0;
	font-family: $heading-font;
}

h1 { 
	font-size: $font-size-h1;
	line-height: $line-height-h1;
}

h2 { 
	font-size: $font-size-h2;
	line-height: $line-height-h2;
	margin-top: 3.6rem;
	margin-bottom: 2rem; 
}

h3 { 
	font-size: $font-size-h3; 
	margin-top: 2rem;
	margin-bottom: 1rem;
}

h4 {
	font-size: $font-size-h4;
	font-weight: 600;
	margin-top: 1.4rem;
	margin-bottom: 1rem;
}

h5 { font-size: $font-size-h5; }

h6 { font-size: $font-size-h6; }

h5,
h6 {
	font-weight: bold;
	margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	> span:not(.nocolor):not(.badge) {
		color: $theme-color;
	}
}

p,
pre,
ul,
ol,
dl,
dd,
blockquote,
address,
table,
fieldset,
form { 
	margin-bottom: 30px; 
}

table {
    width: 100%;
}

td {
    padding: 8px;
}

p,
#content p {
    line-height: 1.6;
    margin-bottom: 1rem;
}

small { 
	font-family: $body-font; 
}

small > span.sep-before::before {
	content: "|";
	padding: 0 0.2rem;
	color: $gray-400 !important;
}

.page_headline {
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	color: #777777;
	margin-bottom: 3rem;
}

/* ----------------------------------------------------------------
	Letter spacing
-----------------------------------------------------------------*/

@if $letter-spacing {
	@include letter-spacing($letter-spacing);
}